@model IEnumerable<bookstore.Areas.Admin.Models.ShippingMethodModel>


@{
    ViewData["Title"] = "Phương thức giao hàng";
}

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}


<div class="row">

    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <div class="card-title">Quản lý phương thức giao hàng</div>

                <button class="btn btn-success" data-toggle="modal" data-target="#shippingMethodAddModal">Thêm phương thức giao hàng</button>

                <hr />

                <div class="table-responsive">
                    <table class="table">

                        <thead class="table-primary">
                            <tr>
                                <th>Id</th>
                                <th>Tên phương thức giao hàng</th>
                                <th>Giá tiền</th>
                                <th>Trạng thái</th>
                                <th>Lựa chọn</th>
                            </tr>
                        </thead>

                        <tbody>

                            @foreach (var obj in Model)
                            {
                                <tr>
                                    <td class="font-weight-bold">@obj.Id</td>
                                    <td class="font-weight-bold">@obj.Name</td>
                                    <td class="font-weight-bold">@obj.price.ToString("#,##0 đ")</td>
                                    <td class="font-weight-bold">@(obj.status == 1 ? "Đang hoạt động" : "không hoạt đông")</td>
                                    <td>
                                        <button onclick="location.href='@Url.Action("Edit","ShippingMethod",new{id = obj.Id})'" class="btn btn-primary">Chỉnh sửa</button>
                                        <button class="btn btn-danger"
                                                onclick="
                                                  if(confirm('Bạn có muốn xóa phương thức giao hàng này này?')){
                                                    location.href='@Url.Action("Delete","ShippingMethod",new{id = @obj.Id})'
                                                  }
                                                "
                                        >Xóa</button>
                                    </td>
                                </tr>
                            }

                        </tbody>

                    </table>
                </div>

            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="shippingMethodAddModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content" style="max-height: 600px; overflow-y: scroll;">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tạo phương thức giao hàng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form class="form-sample" enctype="multipart/form-data" method="post" asp-action="create">
                <input type="hidden" name="status"  value="1"/>
                <div class="modal-body">

                    <div class="row">

                        <div class="col-sm-12 col-md-12">
                            <div class="form-group">
                                <label>Tên phương thức giao hàng</label>
                                <input type="text" class="form-control font-weight-bold" name="Name" />
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-12">
                            <div class="form-group">
                                <label>Phí giao hàng</label>
                                <input type="text" class="form-control font-weight-bold" name="price" />
                            </div>
                        </div>

                     </div>
                </div>


                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Tạo</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>

            </form>

        </div>
    </div>
</div>

<script>
    function preview_imageBook() {
        document.getElementById('photoBook').src = URL.createObjectURL(document.getElementById("photoInputBook").files[0])
    }


</script>

