@model IEnumerable<bookstore.Areas.Admin.Models.CustomerTypeModel>


@{
    ViewData["Title"] = "Phương thức giao hàng";
}

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}
<div class="mt-5 mb-5">
    <button class="btn btn-success" data-toggle="modal" data-target="#exampleModal">Thêm cấp bậc hội viên</button>
</div>

<table class="table">

    <thead>

        <tr>
            <td>Id</td>
            <td>Tên cấp bậc hội viên</td>
       
       
        
        </tr>
    </thead>

    <tbody>

        @foreach (var obj in Model)
        {
            <tr>
                <td>@obj.Id</td>
                <td>@obj.Name</td>
             
                <td>
                    <button onclick="location.href='@Url.Action("Edit","CustomerType",new{id = obj.Id})'" class="btn btn-primary">Chỉnh sửa</button>
                    <button class="btn btn-danger"
                            onclick="
              if(confirm('Bạn có muốn xóa cấp bậc hội viên này?')){
                location.href='@Url.Action("Delete","CustomerType",new{id = @obj.Id})'
              }
            ">
                        Xóa
                    </button>
                </td>
            </tr>
        }

    </tbody>

</table>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">

    <div class="modal-dialog" role="document" style="max-width: 800px !important;">
        <div class="modal-content" style="max-height: 600px; overflow-y: scroll;">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tạo cấp bậc hội viên</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form class="form-sample" enctype="multipart/form-data" method="post" asp-action="create">
                <input type="hidden" name="status"  value="1"/>
                <div class="modal-body">

                    <div class="row">

                        <div class="col-sm-12 col-md-12">
                            <div class="form-group">
                                <label>Tên phương bậc hội viên</label>
                                <input type="text" class="form-control font-weight-bold" name="Name" />
                            </div>
                        </div>

      

                     </div>
                </div>


                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Tạo</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>

            </form>

        </div>
    </div>
</div>



