@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}





<section class="container">
    <div class="auth-form-box">
        <h3 class="text-center">Đăng ký</h3>

        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="col-sm-6">
                    <input type="text" class="form-control form-control-lg" name="firstName" placeholder="Họ của bạn">
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control form-control-lg" name="lastName" placeholder="Tên của bạn">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <input type="email" class="form-control form-control-lg" asp-for="Input.Email" placeholder="Email của bạn">
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-lg" name="phone" placeholder="SĐT của bạn">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <input type="password" class="form-control form-control-lg" asp-for="Input.Password" placeholder="Mật khẩu">
                        <span asp-validation-for="Input.Password" class="text-danger"></span>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                   
                     <input type="password" class="form-control form-control-lg" asp-for="Input.ConfirmPassword" placeholder="Nhập lại mật khẩu">
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

                    </div>
                </div>
            </div>

            <button class="btn btn-primary btn-block" id="btnLogin">Đăng ký</button>
        </form>

        <div class="auth-form-devider">
            <hr>
            <span>Hoặc</span>
        </div>

        <button class="btn btn-primary btn-block" id="btnFacebook">Đăng ký với Facebook<i class='bx bxl-facebook-square'></i></button>
        <button class="btn btn-primary btn-block" id="btnGoogle">Đăng ký với Google<i class='bx bxl-google'></i></button>

        <div class="auth-modal-options" style="justify-content: center;">
            <div>
                <a asp-area="Identity" asp-page="/Account/Login">Đăng nhập</a>
            </div>
        </div>
    </div>
</section>


























@*

<div class="row">
    <div class="col-md-4">
        <form id="registerform" asp-route-returnurl="@model.returnurl" method="post">
            <h2>create a new account.</h2>
            <hr />
            <div asp-validation-summary="modelonly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="input.email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="input.email"></label>
                <span asp-validation-for="input.email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="input.password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="input.password"></label>
                <span asp-validation-for="input.password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="input.confirmpassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="input.confirmpassword"></label>
                <span asp-validation-for="input.confirmpassword" class="text-danger"></span>
            </div>
            <button id="registersubmit" type="submit" class="w-100 btn btn-lg btn-primary">register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>use another service to register.</h3>
            <hr />
            @{
                if ((model.externallogins?.count ?? 0) == 0)
                {
                    <div>
                        <p>
                            there are no external authentication services configured. see this <a href="https://go.microsoft.com/fwlink/?linkid=532715">article
                            about setting up this asp.net application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./externallogin" asp-route-returnurl="@model.returnurl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in model.externallogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.name" title="log in using your @provider.displayname account">@provider.displayname</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
