@model IEnumerable<bookstore.Areas.Admin.Models.BookModel>


@{
    ViewData["Title"] = "Sách";
}

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}
<div class="mt-5 mb-5">
    <button class="btn btn-success" data-toggle="modal" data-target="#exampleModal">Thêm sách</button>
</div>

<table class="table">

    <thead>

        <tr>
            <td>Id</td>
            <td>Isbn</td>
            <td>Tiêu đề sách</td>
            <td>hình ảnh</td>
            <td>Giá tiền</td>
            <td>Tình trạng</td>
        </tr>
    </thead>

    <tbody>

        @foreach (var obj in Model)
        {
            <tr>
                <td>@obj.Id</td>
                <td>@obj.isbn</td>
                <td style="text-overflow: ellipsis;overflow:hidden;max-width:50px">@obj.title</td>
                <td><img src="@obj.cover" width="50px" height="50px" /></td>
                <td>@obj.unitPrice</td>
                <td>@(obj.unitStock < 1 ? "Hết hàng" : "Còn hàng")</td>
                <td>
                    <button onclick="location.href='@Url.Action("Edit","Book",new{id = obj.Id})'" class="btn btn-primary">Chỉnh sửa</button>
                    <button class="btn btn-danger"
                            onclick="
              if(confirm('Bạn có muốn xóa nhà xuất bản này?')){
                location.href='@Url.Action("Delete","Book",new{id = @obj.Id})'
              }
            ">
                        Xóa
                    </button>
                </td>
            </tr>
        }

    </tbody>

</table>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">

    <div class="modal-dialog" role="document" style="max-width: 800px !important;">
        <div class="modal-content" style="max-height: 600px; overflow-y: scroll;">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tạo sách</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form class="form-sample" enctype="multipart/form-data" method="post" asp-action="create">

                <div class="modal-body">

                    <div class="row">

                        <div class="col-sm-12 col-md-4">
                            <div class="form-group">
                                <label>Isbn</label>
                                <input type="text" class="form-control font-weight-bold" name="isbn" />
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-4">
                            <div class="form-group">
                                <label>Tên sách</label>
                                <input type="text" class="form-control font-weight-bold" name="title" />
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-4">
                            <div class="form-group">
                                <label>Giá bán</label>
                                <input type="number" class="form-control font-weight-bold" name="unitPrice" />
                            </div>
                        </div>

                    </div>
                    
                    <hr />

                    @*Tải ảnh*@
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <div class="form-group">
                                <label>Ảnh bìa sách</label>
                                <input type="file" name="imageFile" class="file-upload-default" onchange="preview_imageBook()" id="photoInputBook">
                                <div class="input-group col-xs-12">
                                    <span class="">
                                        <button class="file-upload-browse btn btn-primary"  type="button">Tải ảnh</button>
                                    </span>
                                </div>
                            </div>
                            <div>
                                <img class="rounded" id="photoBook" src="~/images/logo/default.jpg" width="90px" height="110px" />
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-8">
                            <hr class="d-sm-none d-block"/>  

                            <div class="form-group">
                                <label>Ảnh miêu tả sách</label>
                                <input type="file" name="FileUploads[]" multiple id="photoInputBooks" onchange="preview_imageBooks()" class="file-upload-default">
                                <div class="input-group col-xs-12">
                                    <span class="">
                                        <button class="file-upload-browse btn btn-primary" type="button">Tải ảnh</button>
                                    </span>
                                </div>
                            </div>
                            <div id="image_previews">
                               
                            </div>
                        </div>
                    </div>

                    <hr />


                    <div class="row">

                        <div class="col-sm-12 col-md-4">
                            <div class="form-group">
                                <label>Số trang</label>
                                <input type="number" class="form-control font-weight-bold" name="numPages" />
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-4">
                            <div class="form-group">
                                <label>Số lượng</label>
                                <input type="number" class="form-control font-weight-bold" name="unitStock" />
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-4">
                            <div class="form-group">
                                <label>Hình thức</label>
                                <select name="layout" class="form-control font-weight-bold">
                                    <option value="Bìa cứng">Bìa cứng</option>
                                    <option value="Bìa mềm">Bìa mềm</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-4">
                            <div class="form-group">
                                <label>Ngày xuất bản</label>
                                <input type="date" class="form-control font-weight-bold" name="publishDate" id="datepicker" />
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-4">
                            <div class="form-group">
                                <label>Nhà xuất bản</label><br />
                                <select class="js-example-basic-single" style="width: 100%;" name="publisher_id">
                                    @foreach (var item in ViewBag.publisher)
                                    {
                                        <option value="@item.Id">@item.Name</option>

                                    }

                                   
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-4">
                            <div class="form-group">
                                <label>Tác giả</label><br />
                                <select class="js-example-basic-single" style="width: 100%;" name="author_id">
                                    @foreach (var item in ViewBag.authors)
                                    {
                                        <option value="@item.Id">@item.Name</option>

                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-4">
                            <div class="form-group">
                                <label>Thể loại</label><br />
                                <select class="js-example-basic-single" style="width: 100%;" name="genre_id">
                                    @foreach (var item in ViewBag.genres)
                                    {
                                        <option value="@item.Id">@item.Name</option>

                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-4">
                            <div class="form-group">
                                <label>Trọng lượng</label>
                                <input type="text" class="form-control font-weight-bold" name="weight" />
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-4">
                            <div class="form-group">
                                <label>Người dịch</label>
                                <input type="text" class="form-control font-weight-bold" name="translatorName" />
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-4">
                            <div class="form-group">
                                <label>Chiều dài</label>
                                <input type="text" class="form-control font-weight-bold" name="hSize" />
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-4">
                            <div class="form-group">
                                <label>Chiều rộng</label>
                                <input type="text" class="form-control font-weight-bold" name="wSize" />
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-4">
                            <div class="form-group">
                                <label>Giảm giá</label>
                                <input type="text" class="form-control font-weight-bold" name="discount" />
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-12">
                            <div class="form-group">
                                <label>Mô tả</label>
                                <textarea type="text" class="form-control font-weight-bold" name="description" rows="10" ></textarea>
                            </div>
                        </div>


                    </div>
                </div>


                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Tạo</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>

            </form>

    </div>
</div>
</div>

<script>
    function preview_imageBook() {
        document.getElementById('photoBook').src = URL.createObjectURL(document.getElementById("photoInputBook").files[0])
    }


    function preview_imageBooks() {
        var total_file = document.getElementById("photoInputBooks").files.length;
        for (var i = 0; i < total_file; i++) {
            var img = document.createElement('img');
            img.className = 'rounded mx-2';
            img.src = URL.createObjectURL(document.getElementById("photoInputBooks").files[i]);
            img.width = 90;
            img.height = 110;
            document.getElementById("image_previews").appendChild(img);
        }
        
    }
</script>

