
@model IEnumerable<bookstore.Areas.Admin.Models.BookModel>


@{
    ViewData["Title"] = "Sách";
}

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}
   <div class="mt-5 mb-5">
    <button class="btn btn-success" data-toggle="modal" data-target="#exampleModal">Thêm sách</button>
    </div>

    <table class="table">
            
        <thead>
            <tr>
                <td>
                    Id
                </td>
                <td>
                    Isbn
                </td>
                
                <td>
                    Tiêu đề sách
                </td>
                <td>
                    hình ảnh
                </td>
                <td>
                    Giá tiền
                </td>
                 <td>
                    Tình trạng
                </td>
                <td>

                </td>
            </tr

        </thead>
        <tbody>

        @foreach(var obj in Model)
        {
              <tr>
                  <td>
                      @obj.Id
                  </td>
                  
                  <td>
                      @obj.isbn
                  </td>
                  <td style="text-overflow: ellipsis;overflow:hidden;max-width:50px">
                      @obj.title 
                  </td>
                    <td>
                      <img src="@obj.cover" width="50px" height ="50px" />
                  </td>

                   <td>
                      @obj.unitPrice
                  </td>

                  <td>
                     @(obj.unitStock < 1 ? "Hết hàng" : "Còn hàng")
                </td>
                  <td>                    
                      <button onclick="location.href='@Url.Action("Edit","Book",new{id = obj.Id})'" class="btn btn-primary" >Chỉnh sửa</button>
                      <button class="btn btn-danger" onclick="
                           if(confirm('Bạn có muốn xóa nhà xuất bản này?')){
                            location.href='@Url.Action("Delete","Book",new{id = @obj.Id})'
                            }
                        " >Xóa</button>
                  </td>
              </tr>
        }
         
        </tbody>

    </table>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="max-height: 600px; overflow-y: scroll;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thêm sách</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
            <form class="form-sample" enctype="multipart/form-data"  method="post" asp-action="create">

      <div class="modal-body">
       
                <p class="card-description">
                    Thông tin sách
                </p>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Isbn</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="isbn" />
                            </div>
                        </div>
                    </div>
                   
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Tiêu đề sách</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="title" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Số trang</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="numPages" />
                            </div>
                        </div>
                    </div>
                   
                </div>
                 <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Giá bán</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="unitPrice" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Số lượng</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="unitStock" />
                            </div>
                        </div>
                    </div>
                   
                </div>


                 <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Loại bìa</label>
                                <select  class="form-control" name="layout">
                                  <option value="Bìa cứng">Bìa cứng</option>
                                  <option value="Bình mềm">Bìa mềm</option>
                                 
                                <select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Ngày xuất bản</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="publishDate" id="datepicker"  />
                            </div>
                        </div>
                    </div>
                   
                </div>

                <div class="row">


                    <input multiple name="FileUploads" type="file" />


                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Trọng lượng</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="weight" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Người dịch</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="translatorName" />
                            </div>
                        </div>
                    </div>
                   
                </div>

                 <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Chiều dài</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="hSize" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Chiều rộng</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="wSize" />
                            </div>
                        </div>
                    </div>
                   
                </div>

                  <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Giảm giá</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="discount" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Hình ảnh sản phẩm</label>
                            <div class="col-sm-12">
                                <input type="file" name="imageFile" class="form-control" id="photoInput" onchange="preview_image();" />
                                
                                <img src="" class="userAvatar" width="100px" height="100px"/>
                            </div>
                        </div>
                    </div>
                   
                </div>

                 <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Nhà xuất bản</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="publisher_id" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Tác giả</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="author_id" />
                            </div>
                        </div>
                    </div>
                   
                </div>

                  <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Thể loại sách</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="genre_id" />
                            </div>
                        </div>
                    </div>

                   
                </div>
                   <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Miêu tả</label>
                            <div class="col-sm-12">
                                <textarea type="text" class="form-control" name="description" ></textarea>
                            </div>
                        </div>
                    </div>

                   
                </div>

                
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Thêm Nhà xuất bản</button>

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
      </div>
            </form>

    </div>
  </div>
</div>

